# Java build files
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Directories
target/
bin/
build/
out/

# VS Code settings
.vscode/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

#Not So imp text files
LCM_GCD_Euclidean.txt
01Note.txt

#tp.java
tp.java